* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
          margin: 0 auto;
}
body {
    width: 100%;
    height: 100%;
    font-family: Montserrat,"Helvetica Neue","微软雅黑",Helvetica,Arial,sans-serif;
    color: #000;
    background-color: #fff;
}
