* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
body {
  margin: 0;
}
.brand-heading{
  color: white;
}
.intro-text{
  color: white;
}


body {
  margin: 0;
}


.header-inner{
    background: #f5f5f5;
    
}
.site-meta .site-title {
    font-size: 3em;
    color: black;
    margin: auto;
    padding: 20%;
    opacity: 1;
    top: 10px;
}
.header-inner {
    margin-bottom: 80px;
    padding: 40px 0;

}
.header-inner {
    position: relative;
}
.menu .menu-item a {
    padding: 0 10px;
    background: none;
    border: none;
    border-radius: 2px;
    transition-property: background;
}
.menu-item{
    display: list-item;
    text-align: -webkit-match-parent;
    float: left;
    list-style:none;
}

.post-toc{
  max-height: 226px; 
  width: calc(100% + 17px);
}
.menu .menu-item a {
    display: block;
    font-size: 13px;
    text-transform: capitalize;
    line-height: inherit;
    border-bottom: 1px solid transparent;
    transition-property: border-color;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
}
{
  opacity: 1; display: block; transform: translateX(0px) translateY(0px)
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

div{
  color: rgba(93, 90, 94, 0.25);
}
h1 {
    display: block;
    font-size: 2em;
    margin: auto;
    color: #777;
    /* float: none; */
    padding: 1em;
    padding-bottom: 0.5em;
    /* -webkit-margin-after: 0.67em; */
    /* -webkit-margin-start: 0px; */
    /* -webkit-margin-end: 0px; */
    font-weight: bold;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
.site-subtitle{
  border-left: 10em;
  margin-left:50em;
}
.menu {
  margin-top: 20px;
  padding-left: 0;
  text-align: center;
}
.sidebar-inner
{
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 20em;
   z-index: 1;
  box-shadow: inset 0 2px 6px #000;
  background: #222;
  -webkit-transform: translateZ(0);
}
.hide{
	display: none;
	position: absolute;
	right: 0px;
	top:10px;
	width: 100px;
	padding: 10px 10px 10px 0px;
	z-index: 1;
}
.sidebar-inner:hover .hide{
	display: block;
}
.article{
	display: block;
	margin: auto;
	padding: 10px 15%;
}
.sidebar a {
  color: #999;
  border-bottom-color: #555;
}
.sidebar a:hover {
  color: #777;
}

a:link{
  text-decoration:none;
}

.use-motion .motion-element {
  opacity: 0;
}


.sidebar-nav {
  margin: 20 30 30 20px;
  padding-left: ;
}

.sidebar-nav li {
  display: inline-block;
  cursor: pointer;
  border-bottom: 1px solid transparent;
  font-size: 14px;
  color: #555;
}
.sidebar-nav li:hover {
  color: #f5f5f5;
}
.page-post-detail .sidebar-nav-toc {
  padding: 0 5px;
}
.page-post-detail .sidebar-nav-overview {
  margin-left: 10px;
}
.sidebar-nav .sidebar-nav-active {
  color: #87daff;
  border-bottom-color: #87daff;
}
.article-box {

  width: 25%;
  height: 30em;
 display: inline-block;
 overflow: auto;
  background-color: rgb(252, 66, 66);;

  width: 27%;
  height: 17em;
  background-color: hsla(278, 7%, 13%, 0.73);

  float: left;
  margin: auto;
}
.article-box:hover{
   outline-style: solid;
   box-shadow: inset 0 0 1em gold;
}
.article-box-even{ 
  background-color:hsla(263, 77%, 41%, 0.73);
}
.article-box h1{
  outline-style: solid;
}

.article-box-odd h1{

  color: white;
}

.article-content-view{
  display: block;
  overflow: auto;
  padding: 0 0.7em;
  width: inherit;

  height: 15em;
  margin: auto;
  color: whitesmoke;
}


.time-stamp{
  
float: right;
  
display: block;

bottom: 1px;

padding: 0 1em 1em;
}
.st-default-search-input{
  margin-left: 3em;
}

#sidebar{
  background-color: white;
  padding-left: 20px;
}
.navbar-top{
  margin-top: 0;
  display: block;
  top:0;
  position: fixed;
  height: 70px;
  width: 100%;

}
.navbar-top li{
  display: inline-block;
  float: right;
  padding: 10px;
  color: white;

}
#sidebar:hover{
  display:block;
}
.space-bar{
  width: 100%;
  height: 10px;
  display: block;
}
/*editor*/


/*editor*/
.md-editor{
  width: 80%;
  position: absolute;
  
}


.article-box-even {
    background-color: hsla(263, 77%, 41%, 0.73);
}
.article-box-odd {
    background-color: rgb(252, 66, 66);
}
.article-box {
    width: 25%;
    height: 30em;
    display: inline-block;
   
    float: left;
    overflow: auto;
    margin: auto;
}
.article-content-view {
    display: block;
    width: inherit;
    height: 15em;
    color: whitesmoke;
    overflow: auto;
    padding: 0px 0.7em;
    margin: auto;
}
.time-stamp {
    float: right;
    display: block;
    bottom: 1px;
    padding: 0px 1em 1em;
}
.article-box h1 {
    color: white;
}
#sidebar{
	display: none;
}
