/*remove the default css about underline and color*/
a {
  background-color: transparent;
  color: #fffddc;
}
a:active,
a:hover {
  outline: 0;
}
a:link {
  text-decoration:none;
}

.brand-heading {
  color: #fffddc;
}

.content {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  text-align: center;
}

h1 {
    display: block;
    font-size: 2em;
    margin: auto;
    color: whitesmoke;
    /* float: none; */
    padding: 1em;
    padding-bottom: 0.5em;
    /* -webkit-margin-after: 0.67em; */
    /* -webkit-margin-start: 0px; */
    /* -webkit-margin-end: 0px; */
    font-weight: bold;
}

.header-inner {
    background: #f5f5f5;
    margin-bottom: 80px;
    padding: 40px 0;
    position: relative
}

.intro-text {
  color: white;
}

.md-editor {
  width: 80%;
  position: absolute;
  
}

.menu {
  margin-top: 20px;
  padding-left: 0;
  text-align: center;
}
.menu, 
.menu-item a {
    background: none;
    border: none;
    border-radius: 2px;
    border-bottom: 1px solid transparent;   
    display: block;
    font-size: 13px;
    line-height: inherit;
    padding: 0 10px;
    text-transform: capitalize;
    transition-property: background;      
    transition-property: border-color;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
}
.menu-item {
    display: list-item;
    text-align: -webkit-match-parent;
    float: left;
    list-style: none;
}

.navbar-top {
  margin-top: 0;
  display: block;
  top:0;
  position: fixed;
  height: 70px;
  width: 100%;

}
.navbar-top li {
  display: inline-block;
  float: right;
  padding: 10px;
  color: white;

}

.page-post-detail .sidebar-nav-toc {
  padding: 0 5px;
}

.page-post-detail .sidebar-nav-overview {
  margin-left: 10px;
}

.post-box {
    background-color: #E1DFF0;
    border: #D5ACBD;
    display: inline-block;    
    height: 100%;
    margin: 3em 7em;
    overflow: auto; 
    transition: .6s;   
    width:30%;       
}
.post-box-even{
  
}
.post-box:hover {
    background-color: #DBE2EF;
    border: #FEF4E8 solid;
    box-shadow: inset 0 0 0.3em #E1DFFF;
    margin: 2.7em 6.6em;
    width: 31%;
    /*-webkit-perspective: 2000;
    -webkit-perspective-origin: 50% 50%;*/
}
/*.post-inner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 80%;
    height: 80%;
    margin: auto;
    transition: .8s;
    -webkit-transform-style: preserve-3d;
    -webkit-perspective-origin: 50% 50% -75px;
    -webkit-backface-visibility: visible;
}
*/
.post-content-view {
    color: whitesmoke;
    display: block;
    height: 10em;
    margin: auto;  
    overflow: auto;
    padding: 0px 0.7em;
    width: inherit;
}

.post-toc {
  max-height: 226px; 
  width: calc(100% + 17px);
}

.site-meta 
.site-title {
    font-size: 3em;
    color: black;
    margin: auto;
    padding: 20%;
    opacity: 1;
    top: 10px;
}
.site-subtitle {
  border-left: 10em;
  margin-left:50em;
}

.space-bar {
  width: 100%;
  height: 10px;
  display: block;
}

.st-default-search-input {
  margin-left: 3em;
}

.time-stamp {
    float: right;
    display: block;
    bottom: 1px;
    padding: 0px 1em 1em;
}

.use-motion,
.motion-element {
  opacity: 0;
}
