body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

div{
	color: #999;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
.menu {
  margin-top: 20px;
  padding-left: 0;
  text-align: center;
}
.sidebar-inner
{
	position: fixed;
	right: 0;
	top: 0;
	bottom: 0;
	width: 20%;
	 z-index: 1040;
  box-shadow: inset 0 2px 6px #000;
  background: #222;
  -webkit-transform: translateZ(0);
}

.sidebar a {
  color: #999;
  border-bottom-color: #555;
}
.sidebar a:hover {
  color: #777;
}

a:link{
	text-decoration:none;
}

.use-motion .motion-element {
  opacity: 0;
}
.sidebar-nav {
  margin: 20 30 30 20px;
  padding-left: ;
}
.sidebar-nav li {
  display: inline-block;
  cursor: pointer;
  border-bottom: 1px solid transparent;
  font-size: 14px;
  color: #555;
}
.sidebar-nav li:hover {
  color: #f5f5f5;
}
.page-post-detail .sidebar-nav-toc {
  padding: 0 5px;
}
.page-post-detail .sidebar-nav-overview {
  margin-left: 10px;
}
.sidebar-nav .sidebar-nav-active {
  color: #87daff;
  border-bottom-color: #87daff;
}
.article-box {
	width: 27%;
	height: 20%;
	background-color: rgba(219, 219, 219, 0.22);
	float: left;
	
}

.article-box-even{
	background-color: rgba(232, 232, 232, 0.74);
}